URxvt.scrollBar: false
xterm*scrollBar: false
URxvt.perl-ext-common: default,matcher,copy-paste
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.tabbed.tabbar-fg: -2
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg:    -2
URxvt.tabbed.tab-bg:    4
URxvt.font: xft:cure:size=8
URxvt.boldFont: xft:cure:size=8
URxvt.keysym.C-semicolon : \033[50

xterm*font: xft:cure:size=8
XTerm*allowBoldFonts: false

! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #181818
*foreground: #b2b2b2

! --- standard colors ---

! black
*color0: #181818

! bright_black
*color8: #181818

! red
*color1: #4f4e70

! bright_red
*color9: #797295

! green
*color2: #405c70

! bright_green
*color10: #658795

! yellow
*color3: #4f5c70

! bright_yellow
*color11: #798795

! blue
*color4: #404e7f

! bright_blue
*color12: #6572a9

! magenta
*color5: #4f4e7f

! bright_magenta
*color13: #7972a9

! cyan
*color6: #405c7f

! bright_cyan
*color14: #6587a9

! white
*color7: #b2b2b2

! bright_white
*color15: #c8c8c8


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------
